pyyaml
pytest
pydantic
numpy
pandas
openai
scikit-learn
langchain
langchain-community
langchain-google-community
google-api-python-client
duckduckgo-search
fuzzywuzzy
python-Levenshtein
bs4
flask
uvicorn
requests
fastapi
tqdm
