pyyaml
pytest
pydantic
openai
scikit-learn
fuzzywuzzy
python-Levenshtein
langchain
langchain-community
langchain-google-community
google-api-python-client
duckduckgo-search
numpy
pandas
tabulate
bs4
flask
uvicorn
requests
fastapi
tqdm
