pyyaml
pytest
numpy
pandas
flask
openai
langchain
langchain-community
langchain-google-community
google-api-python-client
duckduckgo-search
bs4
requests
fastapi
pydantic
uvicorn
fuzzywuzzy
python-Levenshtein
