.left-align {
    width: 100%;
    text-align: left;
    align-items: left;
}

.center-align {
    text-align: center;
}

.title-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: start;
    justify-content: start;
}

.tokenbox {
    width: 100%;
    box-sizing: border-box;
    border: #d9d9d9 1px solid;
    border-radius: 5px;
    overflow-x: auto;
    padding: 10px;
    min-height: 2rem;
    white-space: nowrap;
    color: #d9d9d9;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    border: #aaa 1px solid;
}

.copy-svg {
    width: 1.7rem;
    height: 1.7rem;
    stroke: #d9d9d9;
    stroke-width: 5;
}

.help-svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #d9d9d9;
}

.close-svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: #333;
}

.svg-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 200ms;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .copy-svg:hover,.help-svg:hover {
        transition: 200ms;
        transform: scale(1.06);
        fill: #fff;
        stroke: #fff;
    }
    .close-svg:hover {
        transition: 200ms;
        transform: scale(1.06);
        fill: #000;
    }
}