body {
    font-family: Arial, sans-serif;
    background-color: #007BFF;
    margin: 0;
    font-size: larger;
    overflow: auto;
    text-align: center;
}

.logo {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.text-color {
    color: #d9d9d9;
}

.pad {
    padding: 0.5rem;
}

.button {
    margin: 1rem 1em;
    cursor: pointer;
    transition-duration: 250ms;
    text-align: center;
}

.rect {
    padding: 0.7em 0;
    font-size: x-large;
    width: 200px;
    max-width: 60vw;
    background-color: #ffc400;
    color: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    margin: 2rem clamp(0px, 6vw, 5rem);
    width: 6rem;
    height: 6rem;
    max-width: 25vw;
    max-height: 25vw;
    border-radius: 50%;
    background-color: #ffc400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    cursor: pointer;
}

.green {
    background-color: #13c200;
}

.red {
    background-color: #c93434;
}

.inactive {
    background-color: #ffc400a0;
    color: #333;
    cursor: default;
}
.inactive-green {
    background-color: #12b500a0;
    color: #333;
    cursor: default;
}
.inactive-red {
    background-color: #c93434a0;
    color: #333;
    cursor: default;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: clamp(20rem, 60vw, 50rem);
    height: auto;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 3rem;
    display: block;
    transition: 300ms;
    z-index: 10;
}

.textbox {
    width: 40rem;
    max-width: 80vw;
    color: #d9d9d9;
    margin: 1rem;
    text-align: center;
    font-size: larger;
}

.vstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.vstack-wide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
}
.hstack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.vstack-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

.adaptive-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fade-in-top {
    opacity: 1;
	animation-name: fadeInTop;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 750ms;
}
.fade-in-left {
	opacity: 1;
	animation-name: fadeInLeft;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 750ms;
}
.fade-in-right {
	opacity: 1;
	animation-name: fadeInRight;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 750ms;
}
.fade-in-bottom {
    opacity: 1;
	animation-name: fadeInBottom;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInTop {
	0% {
		opacity: 0;
        transform: translateY(-5px);
	}
	40% {
		opacity: 1;
        transform: translateY(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
        transform: translateY(-5px);
	}
    20% {
		opacity: 0;
        transform: translateY(-5px);
	}
	60% {
		opacity: 1;
        transform: translateY(0);
	}
}
@keyframes fadeInRight {
    0% {
		opacity: 0;
        transform: translateY(-5px);
	}
	40% {
		opacity: 0;
        transform: translateY(-5px);
	}
	80% {
		opacity: 1;
        transform: translateY(0);
	}
}
@keyframes fadeInBottom {
    0% {
		opacity: 0;
        transform: translateY(-5px);
	}
	60% {
		opacity: 0;
        transform: translateY(-5px);
	}
	100% {
		opacity: 1;
        transform: translateY(0);
	}
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .button:not(.inactive):not(.inactive-green):hover {
        transition: 250ms;
        transform: scale(1.04);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}
